body {
  margin: 0;
  position: relative;
}
.header {
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  z-index: 1;
}
@media all and (min-width: 760px) {
  .header {
    background: rgba(0, 0, 0, 0.5);
    
  }
}
.main-nav {
  display: none;
}
.search {
  display: none;
}
.main-button {
  display: none;
}
.page-nav {
  display: none;
}
.article {
  display: none;
}
.section__open .article {
  display: block;
}
.footer {
  display: none;
}
.invisible {
  color: transparent;
  font: 0/0 a;
}
.intro {
  display: none;
}
.bg {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}
@media all and (min-width: 760px) {
  .bg {
    top: 0;
  }
}
.bg_game {
  background: url("../img/grass.webp"),
              url("../img/grass.webp") repeat 150px 200px,
              url("../img/grass.webp") repeat 50px 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 67%;
  left: 0;

}

.bg-tanks {
  background: url('../project/img/grass.webp') repeat 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

